$white-default: #ffffff;
$quick-link-color: #ffffffa6;
$background-primary: #343a40;
$search-bar-background: #494e53;
$search-bar-focus: #99caff;
$loupe-icon: #a4a7a9;
$link-secondary-color: #007bff;
$link-secondary-color-hover: #0056b3;
$dropdown-item-color-hover: #006fe6;
$dropdown-item-background-color-hover: #e9ecef;