@use '../abstracts' as *;

.dropdown {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0rem;
    margin: 0.5rem;
    overflow: hidden;

    &-menu {
        display: none;
        margin: -0.4rem 0rem;
        padding: 0.5rem;
        background-color: $white-default;
        list-style: none;
        width: 11.5rem;
        border-radius: 0.3rem;

        &--show {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }

    &__item {
        width: 100%;
        padding: 0.5rem 0.2rem;
        color: $link-secondary-color;
        max-width: 10rem;
        border-radius: 0.2rem;
        font-size: 0.9rem;
        &:hover {
            background-color: $dropdown-item-background-color-hover;
            color: $dropdown-item-color-hover;
        }
    }
}

@media (min-width: 1025px) {
    .dropdown {
        &__item {
            font-size: 1rem;
        }
    }
}