@use '../abstracts' as *;

.navbar-link {
    padding: 2rem;
    &__heading {
        color: $white-default;
    }

    &__menu {
        margin-bottom: 1.2rem;
        padding: 1rem;
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            cursor: pointer;
            
    
            &:hover {
                .navbar-link__link, .navbar-link__menu-icon {
                    opacity: 1;
                }
            }  
        }

        &-icon {
            opacity: 0.7;
            font-size: 0.8rem;
            transition: transform 0.3s ease;
    
            &--rotate {
                transform: rotate(90deg);
                opacity: 1;
            }
        }
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        font-weight: 500;
        transition: opacity 0.3s ease;
        font-size: 0.9rem;
    }

    &__link, &__menu-icon {
        color: $white-default;
    }

}

@media (min-width: 992px) {
    .navbar-link {
        &__menu-item {
            width: 19rem;
        }

        &__link {
            font-size: 1rem;
        }
    }
}

@media (min-width: 1020px) {
    .navbar-link {
        &__link {
            font-size: 1rem;
        }
    }
}