@use '../abstracts' as *;

.navbar {
    &__submenu {
        list-style: none;
        &-item {
            padding: 1rem 2rem;
            cursor: pointer;
        }

        &-link {
            text-decoration: none;
            color: $quick-link-color;
            font-size: 0.8rem;
            padding: 0.6rem 1rem;
            font-weight: 500;
            transition: color 0.3s ease;

            &--desktop {
                font-size: 0.9rem;
            }

            &:hover {
                color: $white-default;
            }
        }
    }
}
