@use '../abstracts' as *;

.quicklink {
    &:hover {
        .quicklink__content {
            color: $white-default;
        }
    }

    padding: 0.5rem 2rem;
    list-style: none;
    font-size: 0.8rem;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer;

    &__content {
        text-decoration: none;
        color: $quick-link-color;
        transition: color 0.3s ease;
    }
}

@media (min-width: 1020px) {
    .quicklink {
        font-size: 0.9rem;
    }
}