.submenu {
    position: relative;
    top: 100%;
    left: 0;
    margin-top: 0.5rem;
    padding: 0.2rem 0;
    overflow: hidden;
    height: 0;
    transition: height 0.2s ease-in-out;
    list-style: none;
    background-color: transparent;
    z-index: 1;
    box-sizing: border-box;

    &--show {
        height: 6rem;
    }
}